{% extends "layout.html" %}
{% block content %}
<div class="ManuForShowTable clearfix">
    <ul>
        <li><a href="{{ url_for('ShowSubjects') }}">   Предмети  </a></li>
        <li><a href="{{ url_for('ShowStudens') }}">    Студенти  </a></li>
        <li><a href="{{ url_for('ShowTeachers') }}">   Викладачі </a></li>
        <li><a href="{{ url_for('ShowGroups') }}">     Групи     </a></li>
        <li><a href="{{ url_for('ShowClassrooms') }}"> Аудиторії </a></li>
        <li><a href="{{ url_for('ShowLessons') }}">    Заняття      </a></li>
        <li><a href="{{ url_for('ShowDepartment') }}"> Факультети</a></li>
    </ul>
</div>
<div class="ShowTable clearfix">
    <h1> Перегляд занять </h1>
    <table class="fontSizeSmole">
        <tr>
            <th>id</th>
            <th>Група</th>
            <th>Предмет</th>
            <th>Тип заняття</th>
            <th>Викладач</th>
            <th>Аудиторія</th>
            <th>Дата початку</th>
            <th>Дата кінця</th>
            <th>Частота</th>
        </tr>
        {% for s in vLessons %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td>{{ s[4] }}</td>
            <td>{{ s[5] }}</td>
            <td>{{ s[6] }}</td>
            <td>{{ s[7] }}</td>
            <td>{{ s[8] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}