<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="form1">
        <form action="/test"  method="POST">
            <p>
                <h1> <label for="dateFrom">З</label></h1>
                <input type="date" id="dateFrom" name="caleFrom">
            </p>
            <br>
            <p>
                <h1><label for="dateTo"> По </label></h1>
                <input type="date" id="dateTo" name="caleTo">
            </p>
            <p>
                <select name="Groups">
                    <option>Пункт 1</option>
                    <option>Пункт 2</option>
                </select>
            </p>
            <input type="submit"  name="butt" value="Дізнатися" ><br>
        </form>
    </div>
</body>
</html>